/terraform/.terraform.lock.hcl
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
/ansible/
/images/
*.qcow2
*.wic
*.wic.gz
*.raw
keys/fence_virt.key
